<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section layout:fragment="content">
  <form class="container" th:object="${patient}" method="post" th:action="@{/patients/new/save}">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" th:field="*{nom}" class="form-control" id="nom" placeholder="">
    </div>
    <div class="mb-3">
    <label for="prenom" class="form-label">Prenom</label>
    <input type="text" th:field="*{prenom}" class="form-control" id="prenom" placeholder="">
  </div><div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="name@example.com">
  </div>
    <div class="mb-3">
      <label for="tel" class="form-label">Tel</label>
      <input type="text" th:field="*{tel}" class="form-control" id="tel" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
</body>
</html>