<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>New consultation</title>
</head>
<body>
<section layout:fragment="content">
    <form class="container" th:object="${consultation}" method="post" th:action="@{/consultations/new/save}">
        <div class="mb-3 d-none">
            <label for="idconsul" class="form-label">id</label>
            <input type="date" th:field="*{idConsultation}" class="form-control" id="idconsul" placeholder="">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" th:field="*{dateConsultation}" class="form-control" id="date" placeholder="">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="">
        </div><div class="mb-3">
        <label for="nom" class="form-label">Nom</label>
        <select class="form-select" id="nom" th:field="*{patient}">
            <option th:each="patient : ${patients}" th:value="${patient.idPatient}" th:text="${patient.nom}"></option>
        </select>
    </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
</body>
</html>